<div class="sidenav">
    <div class="logo-container">
        <img src="assets/Group.png" alt="Agrigistics" class="logo" />
    </div>
    <hr>
    <div class="sidenav-nav">
        <div class="sidenav-nav-item">
            <a [routerLink]="'dashboard'" routerLinkActive="active">
                <i class="material-icons">home</i>
                <span class="label">Item 1</span>
            </a>
        </div>
        <div class="sidenav-nav-item">
            <a [routerLink]="'payroll'" routerLinkActive="active">
                <i class="material-icons">home</i>
                <span class="label">Item 2</span>
            </a>
        </div>
        <div class="sidenav-nav-item">
            <a [routerLink]="'employees'" routerLinkActive="active">
                <i class="material-icons">home</i>
                <span class="label">Item 3</span>
            </a>
        </div>
        <div class="sidenav-nav-item">
            <a [routerLink]="'settings'" routerLinkActive="active">
                <i class="material-icons">home</i>
                <span class="label">Item 4</span>
            </a>
        </div>
    </div>
</div>