:host {
    display: flex;
    flex: 1;
}

.geoclock-map-container  {
    display: flex;
    flex: 1;
    --card-body-padding: 0;

    .header {
        display: flex;

        .actions  {
            margin-left: auto;
            display: flex;
            gap: var(--gap-sm);
        }
    }
}